# Virtual environment
.venv/
env/
venv/
ENV/

# Compiled Python files
__pycache__/
*.pyc
*.pyd
*.pyo

# IDE-specific files (e.g., VS Code, PyCharm)
.idea/
.vscode/
*.swp

# Flask-specific
instance/
.webassets-cache/

# Sensitive environment variables file
.env
.flaskenv

# Testing and coverage
.pytest_cache/
.coverage
htmlcov/
nosetests.xml
coverage.xml

# Build artifacts and distributions
dist/
build/
*.egg-info/
